body{
  background:#0b0b0f;
  color:#fff;
  font-family:Arial;
  padding:30px;
}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
}
.book{
  background:#1c1c22;
  padding:20px;
  border-radius:14px;
}
button{
  margin-top:30px;
  padding:12px 20px;
  border-radius:10px;
  border:none;
  font-weight:bold;
}
